[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
dash_bootstrap_components = "*"
flask_caching = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
