[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
matplotlib = "*"
dash_bootstrap_components = "*"

[dev-packages]
py-spy = "*"

[requires]
python_version = "3.9"
