body {
    margin: 0;
    width: 1200px;
    padding: 0

}

#react-entry-point {
    width: 98%
}


.row {
margin-bottom: 10px
}

.side-total {
    text-align: right
}

.side-total p {
    font-size: 1.2em;
    color: #777;
}

.side-total > * {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 20px;
    font-size: 1.0em;
}

.side-total span {
    font-size: 1.6em;
}

.source-code {
    text-align: right;
    color: #777;
    margin-top: 40px;
}
 .source-code a {
    color: #777;
 }

 /*
 ==================================
 Related to the FR design system
 ==================================
 */

/* Force blue-france color on headings */
h1, h2, h3 {
    color: rgb(0, 0, 146);
}
