body {
    margin: 0;
    padding: 0

}

#layout-container {
    max-width: 1200px;
    margin: auto
}


.row {
margin-bottom: 10px
}

.flex {
    display: flex;
}

.side-total {
    text-align: right
}

.side-total p {
    font-size: 1.2em;
    color: #777;
}

.side-total > * {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 20px;
    font-size: 1.0em;
}

.side-total span {
    font-size: 1.6em;
}

.source-code {
    text-align: right;
    margin-top: 40px;
}

 /*
 ==================================
 Related to the FR design system
 ==================================
 */

/* Force blue-france color on headings */
#layout-container h1, #layout-container h2, #layout-container h3 {
    color: rgb(0, 0, 146);
}

/* Can't add bold style to Plotly figure title, but can specify font family (https://plotly.com/python/reference/layout/).
Copied and renamed from DSFR core CSS */
@font-face {
  font-family: 'Marianne-Bold';
  src: url("dsfr_dist/fonts/Marianne-Bold.woff2") format("woff2"), url("dsfr_dist/fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* fr-callout customization */

#layout-container .fr-callout {
    padding: 2rem 2rem;

    /* To avoid flex shrinking due to .flex */
    width: 100%;
}

.callout-number {
    font-size: 3rem;
    font-family: "Marianne-Bold", sans-serif;
    text-align: right;
    margin-top: 3rem;
    color: var(--text-title-grey);
}

.small-number {
    font-size: 2.5rem;
}
.smaller-number {
    font-size: 2rem;
}

.number-text {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

.callout-number .plot-container {
    background-color: var(--background-contrast-grey);
}


/*
Bootstrap berakpoints:
https://getbootstrap.com/docs/5.1/layout/breakpoints/#available-breakpoints */

/* Reduce the big callout number size above lg and below 1100px */
@media (min-width: 991.98px) and (max-width: 1100px)   {
    .callout-number {
        font-size: 2rem
    }
}

/* Reduce the big callout number size for md and below */
@media (max-width: 768px) {
    .callout-number {
        font-size: 2rem
    }
}
